/************************************************************
* 覆蓋 Bootstrap 預設樣式
************************************************************/
:root {
	--primary: #820003;
}
.bg-primary {
	background-color: var(--primary) !important;
}
.text-primary {
	color: var(--primary) !important;
}
.btn-danger {
	background: #c50013;
}
.btn-danger:hover {
	background: #dc3545;
}
.badge-danger {
	font-size: 1rem;
	background: #c50013;
}
.border {
	border-width: 2px !important;
}

/************************************************************
* 自定樣式
************************************************************/
html, body {
	margin: 0px;
	padding: 0px;
}
body {
	/* font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "A-OTF 新ゴ Pro", "A-OTF Shin Go Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
	font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
	-webkit-font-smoothing: antialiased;
}
h3 {
	font-family: "Noto Sans Japanese";
	font-weight: 900;
	font-size: 2.25rem;
	margin: 0;
}
h4 {
	font-weight: 900;
}
p {
	font-weight: normal;
	margin-bottom: 1.7rem;
}
p:last-child {
	margin-bottom: 0;
}

a {
    color: #999;
    text-decoration: none;
	}
a:hover {
	color: var(--primary);
	text-decoration: none;
}
ul {
	list-style: none;
}
li {
	position: reltive;
}
li:first-child {
	margin-top: 0;
}
main section.alt {
	background: rgb(249,250,250)
}
header .container, main .container {
	position: relative;
	max-width: 1120px;
}
.text-underline {
	text-decoration: underline;
}
.countdown {
	background: #00f url(../images/countdown-pc.jpg) center center;
	padding: 10px 0;
	color: #ffed78;
	font-size: 1.25rem;
}
#header-form {
	width: calc(680 / 1920 * 100%);
	position: absolute;
	left: calc(800 / 1920 * 100%);
	top: calc(1090 / 1435 * 100%);
}
.form-text {
	font-size:  0.75rem;
}
.img-text {
	width:  100%;
	padding: 5%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height:  55%;
}
#bonus {
	background: #e0e1df;
}
#footer-form {
	width: calc(680 / 1920 * 100%);
	position: absolute;
	left: calc(800 / 1920 * 100%);
	top: calc(450 / 750 * 100%);
}
.chapter-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size:  80%;
}
.check-circle {
	/*margin-left: 6rem;*/
	font-weight: 700;
}
.check-circle li::before {
	position: absolute;
	content: '\f058';
	font-family: 'Font Awesome 5 Free';
	font-size: 1.25rem;
	font-weight: 900;
	left: -2.5rem;
	top: -3px;
	color: var(--primary);
}
.card-header{
	margin-bottom: 0 !important;
	font-size: 1.2rem;
	font-weight: 900;
	padding-left: 0;
}	
.card-body{
	/* padding: 3rem 12rem; */
	padding: 2rem 0rem;
}

.color-circle {
	display: block;
	background: var(--primary);
	color: #fff;
	border-radius: 100%;
	width: 64px;
	height: 64px;
	line-height: 67px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 900;
}

td.active {
	background: #fff1d5;
}
.table .text-muted {
	font-size: 0.8em;
}

.qa .card-header {
	padding-top: 1rem;
	background: #fff;
	border: none;
	font-weight: 900;
}
.qa .card-header:first-child {
	padding-top: 0;
}
.qa .card-body {
	background: #f0eeeb;
}
.qa p {
	padding: 0px 80px;
}
.qa p:last-child {
	margin-bottom: 0;
}
footer {
	padding: 2% 0;
	background: #fff;
	color: #999;
	text-align: center;
}
footer p {
	font-weight: 400;
}
footer p:last-child {
	margin: 0px;
}

@media (max-width: 767.98px) {
	body {
		font-size: 0.95rem;
	}
	#header-form {
		padding: 0 1rem;
		width: 100%;
		position: absolute;
		left: 0;
		top: calc(1540 / 1969 * 100%);
	}
	#header-form.off {
		top: calc(1390 / 1822 * 100%);
	}
	.form-text {
		font-size:  1rem;
		/*padding: 0 20%;*/
		padding-left:  10%;
	}
	#bonus {
		background: #fff;
	}
	#footer-form {
		padding: 0 1rem;
		width: 100%;
		position: absolute;
		left: 0;
		top: calc(915 / 1285 * 100%);
	}
	.card-body {
		padding: 1.5rem;
	}
	.card-body p:last-child {
		margin-bottom: 0;
	}
	p {
		padding: 0;
		margin-bottom: 1.6rem;
	}
	ul {
		max-width: 650px;
		font-weight: 900;
		margin-bottom: 0;
	}
	.color-circle {
		width: 48px;
		height: 48px;
		line-height: 50px;
		font-size: 1.25rem;
	}
	.table {
		font-size: 12px;
	}
	.table th, .table td {
		padding: 5px 0;
		font-size: 10px;
		line-height: 1.25;
	}
	.table .text-muted {
		font-size: 80%;
	}
	.table .btn {
		margin: 3px;
		margin-bottom: 0;
		font-size: 10px;
		padding: 0 0.25rem !important;
	}
	.qa .card-header {
		font-size: 1rem;
	}
	.qa .card-body {
		padding: 1rem;
	}
	.qa p {
		padding: 0;
	}
	footer {
		padding-top: 7%;
		padding-bottom: 7%;
		font-size: 13px;
	}
}
@media (max-width: 575.98px) {
	h3 {
		font-size: 1.3rem;
	}
}